.Login{
    margin-left:auto;
    margin-right:auto;
}
.row{
    display:flex;
    margin-left:300px;
    margin-right:300px;
    margin-top:50px;
}
.row>div{
    text-align:center;
    padding:15px;
    background:rgba(255, 0, 0, 0.945);
    color:#fff;
    font-size:18px;
    border:0;
    cursor:pointer;
    outline:none;
    width:150px;
    margin:20px auto 0;
    border-radius :30px;
}
.row>div:hover{
    transform:scale(1.1);
}
.pointer{
    cursor:pointer
}
.formele{
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
}
