
   
   .backgroundImage{
    height:100vh;
    width:100vw;
    background:rgba(0,0,0,0.4);
    background: linear-gradient(rgba(0,0,0,0.8) , 
    rgba(0,0,0,0)), 
    url("https://getwallpapers.com/wallpaper/full/e/9/6/815845-free-download-doctor-wallpapers-1920x1200.jpg") center no-repeat;
        background-size:cover;
        background-repeat:repeat-y;
    }
    
    h1 {
      color: #333;
      margin-bottom: 20px;
    }
    

    .input-container {
      padding:150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      width:70vw;
      margin-left:auto;
      margin-right:auto;
    }
    
    input[type="text"] {
      width: 70%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    input[type="datetime-local"] {
      width: 27%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    
    button {
      padding: 10px 20px;
      background-color: #007BFF;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    button:hover {
      background-color: #0056b3;
    }
    
    .task-list {
      list-style-type: none;
      padding: 0;
    }
    
    .task-item {
      display: flex;
      justify-content: space-between;
      border: 1px solid #ccc;
      padding: 10px;
      margin: 5px 0;
      background-color: #fff;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
    
    .task-details {
      display: flex;
      flex-direction: column;
    }
    
    .task-text {
      font-weight: 600;
    }
    
    .completed {
      text-decoration: line-through;
      opacity: 0.7;
    }
    
    .datetime {
      font-size: 14px;
      color: #555;
    }
    
    .task-actions {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
    .complete-button,
    .remove-button {
      padding: 8px 16px;
      margin: 5px 0;
      background-color: #dc3545;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    
    .complete-button:hover,
    .remove-button:hover {
      background-color: #c82333;
    }
.task-item{
  margin-left:auto;
  margin-right:auto;
  width:70vw;
}